/* General Button Styles */
button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

/* List Item Styles */
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Edit Button Styles */
li button.edit-button {
    
    background-color: #d9534f;
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

li button.edit-button:hover {
    background-color: #ec971f;
}

/* Delete Button Styles */
li button.delete-button {
    background-color: #d9534f;
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

li button.delete-button:hover {
    background-color: #c9302c;
}

/* Additional Styles for Task Input and Container */
.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

input {
    width: calc(100% - 60px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.add-task-button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button.add-task-button:hover {
    background-color: #4cae4c;
}

ul {
    list-style: none;
    padding: 0;
}
